@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: normal;
  src: local('Poppins Light'), local('Poppins-Light'), url('../fonts/poppins-light.woff2') format('woff2'), url('../fonts/poppins-light.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: local('Poppins Bold'), local('Poppins-Bold'), url('../fonts/poppins-bold.woff2') format('woff2'), url('../fonts/poppins-bold.woff') format('woff');
}
/*Colors*/
/*Fonts*/
/*Other*/
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
  min-width: 320px;
  height: 100%;
  background-color: #020819;
}
img {
  max-width: 100%;
  height: auto;
}
/*Free host styles*/
[style="text-align:right;position:fixed;bottom:3px;right:3px;width:100%;z-index:999999;cursor:pointer;line-height:0;display:block;"] {
  display: none !important;
}
body {
  font-family: 'Poppins', sans-serif;
  color: #C5C5DB;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}
p {
  margin-top: 0;
}
.heading {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #C5C5DB;
}
.heading--1 {
  width: 100%;
  font-size: 44px;
  line-height: 58px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.heading--center {
  text-align: center;
}
.heading__heading {
  margin-bottom: 30px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 15px;
  margin: 0 auto;
  width: 860px;
  height: 100%;
  text-align: center;
}
.row--options {
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #C5C5DB;
  border-radius: 5px;
  background-color: #011542;
}
.row__col11 {
  width: 100%;
}
.row__col11--margin-top {
  margin-top: 20px;
}
.row__col12 {
  width: 48.65%;
}
@media only screen and (max-width: 860px) {
  .row {
    width: 98%;
  }
  .row__col12 {
    width: 100%;
  }
  .row__window {
    width: 300px;
  }
}
.form__input {
  padding-left: 10px;
  font-size: 18px;
  line-height: 38px;
  font-weight: 700;
  color: #C5C5DB;
  background-color: transparent;
  border: 1px rgba(197, 197, 219, 0.2) solid;
  outline: none;
  transition: all 0.5s;
}
.form__input:disabled {
  opacity: 0.5;
}
.form__input:disabled:hover {
  opacity: 0.5;
  border: 1px rgba(197, 197, 219, 0.2) solid;
}
.form__input:hover {
  border: 1px #C5C5DB solid;
}
.form__input:focus {
  border: 1px #C5C5DB solid;
}
.form__select {
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-top: 9px;
  font-size: 18px;
  line-height: 38px;
  font-weight: 700;
  color: #C5C5DB;
  background-color: transparent;
  border: 1px rgba(197, 197, 219, 0.2) solid;
  outline: none;
  transition: all 0.5s;
}
.form__select:hover {
  border: 1px #C5C5DB solid;
  cursor: pointer;
}
.form__select:focus {
  border: 1px #C5C5DB solid;
}
.form__select option {
  color: #C5C5DB;
  background: #011542;
}
.form__label {
  margin-left: 20px;
}
.form__file {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.form__file:hover {
  cursor: pointer;
}
.form__file:hover .button--input {
  color: #011542;
  background-color: #C5C5DB;
}
.form__file input {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.button {
  display: block;
  padding: 10px 5px;
  width: 150px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #C5C5DB;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px #C5C5DB solid;
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
}
.button:hover {
  color: #011542;
  background-color: #C5C5DB;
}
.button:disabled {
  opacity: 0.5;
}
.button:disabled:hover {
  color: #C5C5DB;
  background-color: transparent;
  cursor: default;
}
.button--center {
  margin: 0 auto;
}
.button--wide {
  width: 250px;
}
.button__calcReport {
  margin-top: 20px;
}
.button--input {
  width: 200px;
}
.page-footer {
  margin-top: 50px;
  padding: 20px 0;
}
.copyright {
  display: block;
  width: 100%;
  margin: 5px 0;
  font-size: 14px;
  line-height: 20px;
}
.table {
  margin: 0 auto;
  margin-top: 40px;
  width: 290px;
  border-spacing: 0;
}
.table__divider {
  background-color: #C5C5DB;
}
.table tr {
  border: 1px solid #C5C5DB;
}
.table td {
  border: 1px solid #C5C5DB;
  padding: 5px 10px;
}
.alert {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.alert__window {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  width: 420px;
  height: 300px;
  background-color: #011542;
  border: 1px solid #C5C5DB;
  border-radius: 5px;
}
.alert__text {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}
.spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.spinner__loader {
  color: #C5C5DB;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
          animation: load4 1.3s infinite linear;
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
